.user-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.remove-user,
.info-user {
  background-color: #222;
  border: none;
  font-size: 24px;
  color: #04d361;
  margin: 0 5px;
}

.buttons-container {
  min-width: 30%;
  display: flex;
  justify-content: flex-end;
  flex: 2;
  background-color: #222;
}

.remove-user:hover,
.info-user:hover {
  cursor: pointer;
}
